.login{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 40px;
}

.login img{
    margin-top: 40px;
    width: 100px;
}