.registrazione{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 40px;
}

.radio-group{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 60%;
}